<h1>Spell Check System</h1>

<p>Please enter your text right below and we'll be glad to check it for you.</p>
<p>We will analyze it and give you recommendations on how to fix it.</p>

<%= link_to 'Check Text', new_path %>